:root{
    --main-color-bg:#45a643;
    --main-color-degree-bg:#348732;
    --main-color-darker-bg:#2b6b2a;
    --text-white:#fff;
}


.panel{
    color: #45a643;

}
.panel h1{
    font-size: 5rem;
    font-weight: bold;
}
.panel p{
    font-size:1.5em;
    color: #2b6b2a;
    font-weight: bold;
}
.panel-text{
    position: absolute;
    top: 40%;
    padding-left:2em;

} 

.prototype{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    color: #2b6b2a;
    padding-top: 2em;
}

.prototype .text h1{
    padding-top:5em ;
    font-size: 3em;
    font-weight: bold;

}
.prototype img{
    border-radius: 30px;
    margin-top: 5px;
}
.low-panel{
    width: 100%;
    height: max-content;
    color: #fff;
    background-color: #348732;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    /* box-shadow: 2px 10px 1px rgb(129, 128, 128) ; */
    margin-bottom: 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.low-panel h1{
    font-size: 5em;
    letter-spacing: 10px;


}
.descrip{
    color: #348732;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 20em;
    margin-top: 2em;
    
}
.funcionamiento{
    margin-top:2em ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#348732;
}
.funcionamiento img{
    width: 20%;
}